body {
  color: white;
  font-family: Arial;
  margin: auto;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
}

.black {
  background: black;
}
